/* George Ng
	INFO 343 C
	Challenge 2 

	This is the CSS page of the index and order pages of the Dawg Coffee website. */

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:300italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.navLink a:hover, .navLink a:focus {
	color : #D87E28;
	text-decoration : none;
}

body {
	font-family : Lato, Helvetica Neue, Helvetica, sans-serif;
	font-size : 16px;
	font-weight : 300;
	background-color : #E9EAEE;
}

dd {
	font-style : italic;
	text-indent : 1em;
}

footer {
	background-color : #afb3c2;
	border-top : 3px solid #D87E28; 
	clear : both;
	font-size : 12px;
	padding-top : 1em;
	padding-left : 1em;
	padding-right : 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family : Raleway, Helvetica Neue, Helvetica, sans-serif;
}

h2 {
	color : #BC6026;
}

i {
	padding : .5em;
}

nav {
	background-color : #181C22;
	color : white;
	font-size : 16px;
	left : 0;
	position: fixed;
	top : 0;
	width : 100%;
	z-index : 1;
}

li {
	display : inline;
}

ul {
	margin-top : .5em;
}

#cafe, #story {
	background-color : #dbdce3;
}

#coffee{
	fill : currentColor;
	height : 1em;
}

#coffee2 {
	display : none;
	fill : #BC6026;
}

#headerContent {
	padding-top : 3em;
	padding-right : 2em;
}

#location, #hours, #contact {
	fill : #BC6026;
	height : 2em;
	margin-bottom: 1em;
}

#logo {
	margin-left : 15 px;
}

#map {
	border-radius :5px;
}

#motto {
	display : none;
}

#story {
	padding : 2em;
	padding-top : 1em;
}

#storyImage {
	border-radius : 5px;
	float : right;
	margin-left : 1em;
	max-height : 300px;
}

.col-md-4{
	text-align : center;
	padding : 1em;
	padding-top : 2em;
}

.col-sm-6{
	padding-top : 2em;
	padding-left : 1em;
}

.navLink {
	padding : .5em;
	font-variant : small-caps;
}

.navLink a {
	color : white;
}

.scale {
	height : 1em;
}

/* Alternate style attributes for screen sizes 768px or larger.*/
@media screen and (min-width: 768px) {
    body {
        font-size : 20px;
    }

    h2 {
    	text-align : center;
    	padding : 1em;
    }

    nav {
    	background-color : rgba(24, 28, 34, 0.8);
    }

    #coffee2 {
    	display : inline;
    	height : 3em;
    	padding-bottom : 1em;
    }

    #iconAttribution {
    	text-align : right;
    }

    #motto {
    	display : inline;
    }

    #header {
    	background-image : url("../img/background-sm.jpg");
    	background-repeat : no-repeat;
    	background-size : cover;
    	color : white;
    	min-height: 550px;
    	text-align : right;
    }

    #headline {
    	font-size : 1.25em;
    	font-style : italic;
    	text-align : center;
    	padding-top : 3em;
    	padding-bottom : 3em;
    }

    #soon {
	padding : 2em;
	padding-left : 3em;
	}

    #storyImage {
	max-height : 400px;
	}

    .col-sm-6{
	padding-left : 4em;
	}

    .navLink {
	padding-left : 1em;
	padding-right : 1em;
	}
}

/* Alternate style attributes for screen sizes 992 px or larger */
@media screen and (min-width: 992px) {
	h1 {
		font-size : 4em;
	}

	#header {
		background-image : url("../img/background-md.jpg");
	}
} 

/* Alternate style attributes for screen sizes 992 px or larger */
@media screen and (min-width: 1200px) {
	#header {
		background-image : url("../img/background-lg.jpg");
	}
} 